---
import MarkdownLayout from '~/layouts/MarkdownLayout.astro';

const frontmatter = {
	title: 'RSS Feeds',
};
---

<MarkdownLayout frontmatter={frontmatter}>
	<h1>RSS Feeds</h1>
	<ul>
		<li><a href="/rss.xml">Site updates</a></li>
		<li><a href="/rss-repos.xml">GitHub repositories</a></li>
	</ul>
	<p>App-specific and cloned feed endpoints were removed as part of the site cleanup.</p>
</MarkdownLayout>
